%estiloParrafo{
    margin: 20px;
    padding: 10px;
    text-align: center;
    max-width: 850px;
    font-size: 1rem;
    font-family: $tipoTextos;
    color: $colorFont;    
}

%estiloSubtitulo{
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-family: $tipoTitulos;
    color: $colorFont;
}