.header{
    &__btn{
        a {
            color: $colorFont !important;
            &:hover{
                background-color: rgb(211, 207, 147);
                border-radius: 8px; 
            }
        }
    }
}