.main {
    &__imgPortada {
        display: grid;
        max-width: 100%;
        min-width: 320px;
        margin: auto;
        img{
            width: 100%;
        }
    }
    &__secciones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subtitulo {
        @extend %estiloSubtitulo;
    }
    &__texto{
        @extend %estiloParrafo;
    }
    &__div{
        display: flex;
        border-style: inherit;
        flex-direction: column;
        align-items: center;
    }
    &__video{
        margin: 20px;
        position: relative;
        overflow: hidden;
    }
    &__btn{
        display: grid;
        margin: 50px;
        padding: 10px;
        justify-content: center;
        a{
        text-decoration: none;
        color: antiquewhite;        
            &:hover{
                font-weight: 1000;
                color: $colorBtn;
            }
        }
    }
}